<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
	id="WebApp_ID" 
	version="4.0">
  
  <display-name>HelloWorld</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>


	<!-- http://localhost:8080/HelloWorld/<search.html>  RUNS  <GetServler.java>  -->
	<servlet>
		<servlet-name>GetServlet</servlet-name>
		<servlet-class>org.adnane.servlets.GetServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>GetServlet</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>


	<!-- http://localhost:8080/HelloWorld/<addEmployee.html>  RUNS  <GetServler.java>  -->
	<servlet>
		<servlet-name>PostServlet</servlet-name>
		<servlet-class>org.adnane.servlets.PostServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>PostServlet</servlet-name>
		<url-pattern>/addEmployee</url-pattern>
	</servlet-mapping>
	
	
	<!-- http://localhost:8080/HelloWorld/<email.html>  RUNS  <EmailServlet.java>  -->
	<servlet>
		<servlet-name>EmailServlet</servlet-name>
		<servlet-class>org.adnane.servlets.EmailServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>EmailServlet</servlet-name>
		<url-pattern>/email</url-pattern>
	</servlet-mapping>
	
	
	<!--  http://localhost:5575/HelloWorld/logs/ 
	<servlet>
		<servlet-name>AdnaneLogs</servlet-name>
		<servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
		<init-param>
			<param-name>listings</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdnaneLogs</servlet-name>
		<url-pattern>/HelloWorld/logs</url-pattern>
	</servlet-mapping>
	
	-->

</web-app>
